---
import "@styles/globals.css";
import App from "@components/App";
import { configSite } from "config";
import Layout from "@layouts/Layout.astro";

import { languageList } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";

const currentLang = (Astro.currentLocale || "es") as keyof typeof languageList;

const translateLabels = useTranslations(
  currentLang as keyof typeof languageList,
);
---

<Layout
  lang={currentLang}
  title={configSite.name + " - " + translateLabels("layout.title")}
>
  <main>
    <App lang={currentLang} client:load />
  </main>
</Layout>
